@charset "utf-8";
/* CSS Document */
body{
	font-size: 1em;
	text-align: center;
}
@media only screen and (max-width: 800px) {
	.grid{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"header"
			"metadata"
			"content"
			"footer";
	}
}
@media only screen and (min-width: 801px) {
	.grid{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
			" . header . "
			" content content metadata"
			"footer footer footer";
	}
}
h1{
	grid-area: header;
}
footer{
	grid-area: footer;
}
.sso{
	grid-area: metadata;
}
.signon{
	grid-area: metadata;
	text-align: center;
	
}
.ssoimg{
	display: block;
	
}
.sso-g{
	display: block;
	margin: 0 auto;
	/* [disabled]vertical-align: middle; */
	text-align: center;
	border-radius: 5px;
	background: #4285F4;
	width: 15em;
}
.sso-g-img{
	background: url('google_signin_buttons/web/vector/btn_google_light_normal_ios.svg') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 25px;
	padding-left: 0.5em;
	padding-right: 1em;
}
.sso-g-label{
	display: inline-block;
	vertical-align: middle;
	padding-right: 1em;
}
